* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(#ffc4a0, orange, crimson);
  font-size: 16px;
 
}

.contain {
  background-color: transparent;
  position: relative;


}
.contain .carga {
  width: 100px;
  height: 100px;
  border: solid 5px #0cbdd1;
  border-top: solid 5px #6e6464;
  margin: auto;
  border-radius: 50%;
  animation: loader 0.8s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.contain .mesage {
position: absolute;
  color: rgb(25, 27, 28);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: mesage 1s alternate infinite ease-in-out;
}
@keyframes mesage{
  0%{
    opacity: 0.2;
  }
  100%{
    opacity: 1;
  }
}
.content {
  width: 20vh;
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
h1{
display: flex;
justify-content: center;
}
.time {
  display: flex;
  justify-content: flex-start;
  align-self: center;
 background: none;
 margin: 4px;
   color : black; 
   font-family : Verdana, Arial, Helvetica; 
   font-size : 9pt;
    border: none;
    list-style: none;
}

main{
  margin-top: 80px;
  min-height: 100vh;
  width: 100%;
}
.container {
  display: grid;
  width: 100vh;
  margin: 1em auto;
  padding: 1em;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  font-size: 1em;
}

.container > div {
  background-color: darkgray;
  padding: 15px;
}

header {

  background-color: rgb(200, 136, 44);
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  width: 100%;
  position: fixed;
  height: 60px;
  top: 0;
}
footer {
position:fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 5rem;
  background-color: rgb(241, 42, 15);
  font-size: large;
  font-weight: 100;
}
footer .title{
 margin: 5px;
}
img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  cursor: pointer;
  transition: 0, 5s;
}
img:hover {
  transform: scale(1.4);
  transition: linear 1s;
}

button {
 
  background-color: #f3620e;
  border: none;
  margin-bottom: 34px;
  padding: 1px 1px;
  margin-right: auto;
  margin-left: auto;
  text-align: right;
  text-decoration: none;
  display: flex;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;

}
button:hover{
  border:2px solid orangered;
}
a:link,
a:visited {
  color: black;
  padding: 14px 25px;
  text-decoration: none;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: end;
}
.icons ul li {
  display: inline-block;
  margin: 0 5px;
  width: 20px;
  height: 10px;
  text-align: center;
}
.icons ul li a {
  display: block;
  padding: 0 10px;
  font-size: 2em;
  transition: 0.2s;
}
.icons ul li a:hover {
  opacity: 0.5;
  box-shadow: 0px 5px 3px 0px black;
  filter: none;
}


.img-card {
  object-fit: cover;
  border-radius: 5px;
}

img:nth-child(3) {
  grid-column: 3/5;
}
img:first-child {
  grid-row: 1/2;
}
img:nth-child(4) {
  grid-column: 1/3;
  align-self: auto;
}
img:nth-child(13) {
  grid-column: 3/5;
}
@media screen and (width < 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  header {
    font-weight: 100;
  }
  .icons {
    display: inline-block;
  }
  .title {
    text-align: center;
  }
  img {
    width: 80%;
    height: 200px;
  }
}
.pep{
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  transition: all 1.5s;
}
